
// *********************************** //
// *** SECTION INTRODUCTION STYLES *** //
// *********************************** //

@import '_variables.scss';


.section-introduction {
  margin-bottom: 70px;

  color: $color-white;
  background-color: $color-black;
  background-image: url(../img/section-introduction/background.png);
  background-position: center;
  background-repeat: no-repeat;

  letter-spacing: -0.5px;
  text-align: center;
  vertical-align: text-top;

  .main-container { padding: 0 270px; }
  &__inner { padding: 182px 0 248px 0; }
  &__greeting {
    margin-bottom: 20px;

    font-size: 3.75em;
    font-weight: 700;
  }

  &__name {
    font-style: normal;
    color: $color-indigo;
  }

  &__position { font-size: 0.666em; }
  &__text {
    margin-bottom: 40px;
    font-size: 1.125em;
  }
}


// **************** //
// *** ADAPTIVE *** //
// **************** //

@media screen and (max-width: 1068px) {
  .section-introduction__greeting {
    font-size: 3em;
  }
}

@media screen and (max-width: 964px) {
  .section-introduction__greeting {
    font-size: 2em;
    white-space: nowrap;
  }

  .section-introduction__text { white-space: nowrap; }
}

@media screen and (max-width: 834px) {
  .section-introduction .main-container {
    padding: 0;
  }
}