
// ********************** //
// *** GENERAL STYLES *** //
// ********************** //

@import '_fonts.scss';


html,
body {
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
